  <section>
    <div class="addpro">

   
    <div class="container mt-4">
        <h2 class="text-center">ADD Procuct</h2>
     <div class="row">
        <form action="/Admin/add-products" method="post" enctype="multipart/form-data">
            <label for="">name</label>
            <input type="text" name="name" class="form-control">
            
            <label for="">Category</label>
            <input type="text" name="category" class="form-control">

            <label for="">price</label>
            <input type="text" name="price" class="form-control">

            <label for="">Description</label>
            <input type="text" name="Description" class="form-control">

            <label for="">Image</label>
            <input type="file" name="Image" class="form-control">
            <button type="submit" class="btn btn-success mt-4" >SUBMIT</button>

        </form>

     </div>   

    </div>
     </div>
  </section>