  <section>
    <div class="addpro">

   
    <div class="container mt-4">
        <h2 class="text-center">ADD Procuct</h2>
     <div class="row">
       
        <form action="/Admin/add-products" method="post" enctype="multipart/form-data">
       

            <label for="">name</label>
            <input type="text" name="name" class="form-control">
            <br>
            {{!-- <label for="">Category</label>
            <input type="text" name="category" class="form-control"> --}}
            <select name="category" class="custom-select tm-select-accounts" id="category">
                  <option selected>Select category</option>
                  <option value="Men">Men</option>
                  <option value="Women">Women</option>
                </select>

            <label for="">price</label>
            <input type="text" name="price" class="form-control">
             <label for="">quantity</label>
            <input type="number" name="quantity" class="form-control">

            <label for="">Description</label>
            <input type="text" name="Description" class="form-control">

            <label for="">Image</label>
            <input type="file" name="Image" class="form-control">
            <button type="submit" class="btn btn-success mt-4" >SUBMIT</button>

        </form>

     </div>   

    </div>
     </div>
  </section>
{{!-- 
  <script>
    $('#addpro').submit((e)=>{
	console.log('hey');
	e.preventDefault();
	$.ajax({
		url:'/Admin/add-products',
		type:'post',
		data:$('#addpro').serialize(),
		success:(response)=>{
			console.log(response);
			if(response.status){
				swal("Hello world!");
			}
		}

	})
})
  </script> --}}
  